# Wajik Anime API Endpoint (Use public serverless instance or custom backend)
WAJIK_API_URL=https://wajik-api-gold.vercel.app

# LK21 Movie & Series API Endpoint
LK21_API_URL=http://localhost:3002

# Cloud Database (Neon / Supabase PostgreSQL for Vercel Deployment)
# Example: postgres://username:password@ep-sample-12345.us-east-2.aws.neon.tech/neondb?sslmode=require
DATABASE_URL="postgresql://user:password@localhost:5432/nonton_anime?schema=public"
