# Wajik Anime API Local Endpoint
WAJIK_API_URL=http://localhost:3001

# LK21 Movie & Series API Local Endpoint
LK21_API_URL=http://localhost:3002

# SQLite Local Database
DATABASE_URL="file:./dev.db"
